{% extends 'layout/base.html.twig' %}
{% block body %}


    {% for favoriteStore in favoriteStores %}
        <div class="cart-store">
            <div class="cart-store-img">
                <img src="{{ favoriteStore.picture1 }}" alt="imageCard" class="cart-store-image"></a>
            </div>
            <div id="store-{{ favoriteStore.id }}"
                 class="cart-store-name">
                <h2> {{ favoriteStore.name }} </h2>
            </div>
            <div class="delete-store-div" id="{{ favoriteStore.id }}">
                <i onclick="return confirm('Are you sure you want to delete this item?');" class="fas fa-times delete-store"></i>
            </div>
        </div>

    {% endfor %}



{% endblock %}