@media screen and (max-width: 1600px) and (min-width: 1400px) {

  /************ ALL STORES PAGE ***************/

  .column-stores .row-stores .card-store {
    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: 0.8em;
    }
  }
  .direction, .blank-favorite {
    font-size: 2.2em;
  }
}