@media screen and (max-width: 600px) and (min-width: 400px){

  /************ ALL STORES PAGE ***************/

  .store-burger-menu,.product-burger-menu,.favorite-burger-menu-button{
    display: block;
  }

  .store-navbar-menu,.product-navbar-menu{
    display: none;
  }

  .search-container{
    width: 50%;
    margin-top: 10%;
  }
  .burger{
    margin-top: 1%;
  }
  .heart{
    font-size: 2.2em;
  }
  .btn-connexion{
    width: 25%;
  }
  .btn-inscription{
    display: none;
  }
  .btn-inscription-burger-menu{
    display: block;
  }
  .column-stores .row-stores .card-store {
    width: 78%;
    height: 80vh;
    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: 0.8em;
    }

    img {
      height: 50%;
    }
  }

  .direction, .blank-favorite {
    font-size: 2.2em;
  }
  .favorite-direction {
    margin-top: 4%;
  }
  .burger {
    display: block;
  }

  body {
    overflow-x: hidden;
  }
  .row-stores {
    width: 50%;
  }
  .navigation-links {
    position: absolute;
    left: 0px;
    height: 120vh;
    background-color: $quaternary-color;
    width: 35%;
    border-radius: 1.2em;
    border: $primary-color solid 3px;
    margin-top: 9%;
    z-index: 3;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in;

    .nav-links {
      height: 40%;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      display: flex;
      width: 100%;

      div {
        margin-top: 35%;
      }
    }

  }

  /************ ALL STORES PAGE ***************/

}
