@import "vars";


p, h1, h2, h3, h4, h5, h6 {
  font-family: $typography;
}

body {
  background-color: $secondary-color;
  overflow-x: hidden;
}
.div-body{
  margin-top: 7%;
}

.d-none{
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: solid $primary-color 2px;
  width: 100%;
  background-color: $secondary-color;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;

  .store-navbar-menu,.product-navbar-menu{
    p {
      font-size: 1.2em;
      color: $quaternary-color;
    }
    p:hover{
      border:$primary-color ridge 1px;
      border-radius: 0.2em;
    }
  }
  .store-burger-menu, .product-burger-menu,.favorite-burger-menu-button{
    p{
      font-size: 1.2em;
      color:$secondary-color;
    }
    p:hover{
      border:$primary-color ridge 1px;
      border-radius:0.2em;
    }
  }
}

.store-burger-menu,.product-burger-menu,.favorite-burger-menu-button{
  display: none;
}

.search-container{
  margin: 1% auto;
  width: 26%;
  button{
    padding: 15px 10px;
    font-size: 17px;
    margin-left: -1%;
    border: none;
    cursor: pointer;
    box-shadow: -1px 10px 15px #b2b2b2;
    height: auto;
    border-radius: 5px;
    background-color: $primary-color;
    color: white;
  }
  button:hover{
    background: $quaternary-color;
  }
  input{
    font-size: 17px;
    border: none;
    box-shadow: 1px 10px 15px #b2b2b2;
    border-radius: 5px;
    width: 70%;
    height: 50px;
    padding-left: 5%;
  }
}

.search-logo-store{
  font-size: 1.3em;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.navigation-links {
  width: 35%;
}


.burger div {
  width: 27px;
  height: 4px;
  background-color: $quaternary-color;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  height: 50%;
  margin-top: 0.3%;
}

.logo-home {
  width: 30%;
}

.btn-inscription-burger-menu {
  display: none;
}

.heart {
  color: $quaternary-color;
  font-size: 2.5em;
  margin-top: 20%;
}
.heart:hover{
  color: $primary-color;
}

.favorite-store-button {
  color: $primary-color;
  margin-top: 6%;
}

.store-cart {
  color: $primary-color;
  font-size: 3em;
}

.column-stores {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1em;
  margin-bottom: 3em;

  .row-stores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

    .card-store {
      border-radius: 0.5em;
      height: auto;
      width: 25%;
      border: $primary-color solid 3px;
      margin-top: 3em;
      background-color: $secondary-color;

      img {
        width: 100%;
        height: 60%;
        border-radius: 0.5em;
        object-fit: cover;
        margin-top: 3%;
      }

      h2 {
        font-size: 1.3em;
        font-family: $typography;
        font-weight: bold;
        color: $quaternary-color;
        text-shadow: 0 0 5px $primary-color, 0 0 5px $primary-color;
        width: 70%;
        text-align: center;
        border-radius: 2.2em;
        margin: 4% auto;
        padding-left: 4%;
        padding-right: 4%;
        border: $quaternary-color solid 3px;
        box-shadow: 0px 0px 15px 1px $primary-color;
      }

      h3 {
        font-size: 0.9em;
        font-family: $typography;
        color: $quaternary-color;
        text-shadow: 0 0 5px $primary-color, 0 0 5px $primary-color;
        margin: 0 auto;
        text-align: center;
      }

    }
  }
}

.schedule-favorite-store {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  height: 20%;

  i {
    color: $primary-color;
    font-size: 2.3em;
    margin-top: 6%;
  }
}

.column-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1em;
  margin-bottom: 3em;

  .row-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 4% auto;
    justify-content: space-evenly;

    .card-products {
      border-radius: 12em;
      display: flex;
      flex-direction: column;
      height: auto;
      width: 24%;
      border: $primary-color solid 3px;
      margin: 2% auto;
      background-color: $secondary-color;
      color: $quaternary-color;

      .image-card-product {
        width: 65%;
        height: auto;
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 30em;
        object-fit: cover;
      }

      h2 {
        font-size: 1.1em;
        font-family: $typography;
        font-weight: bold;
        color: $tertiary-color;
        width: 60%;
        text-align: center;
        border-radius: 3em;
        margin: 8% auto;

      }

      h3 {
        font-size: 0.9em;
        font-family: $typography;
        font-weight: bold;
        text-align: center;
        color: $quaternary-color;
        margin-top: -3%;
        text-shadow: 0 0 5px $primary-color, 0 0 5px $primary-color;
      }

      h4 {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        color: $tertiary-color;
        margin-top: 3%;
      }
    }
  }
}


.type-color {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.store-price-favorite {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 5% auto;

}

.store-logo {
  color: $primary-color;
  font-size: 2em;
}

.info {
  margin: 0 auto;
  padding-bottom: 4%;

  .info-logo {
    color: $primary-color;
    font-size: 2.3em;
  }
}


.card-product {
  display: flex;
  flex-direction: column;

  img {
    width: 80%;
    border-radius: 1em;
    border: solid $primary-color 2px;
    margin: 0 auto;

  }

  h2 {
    color: $primary-color;
    font-size: 2.3em;
    font-family: $typography;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  p {
    color: $primary-color;
    font-size: 1.5em;
    font-family: $typography;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.back {
  color: $primary-color;
  font-size: 4.3em;
  position: fixed;
  margin-top: 15%;

}

.btn-connexion {

  border-radius: 3em;
  width: 20%;
  height: 4%;
  margin-top: 1%;
  text-align: center;

  a {
    color: $quaternary-color;
    font-family: $typography;
    font-size: 1.1em;
    font-weight: bold;
  }

  a:hover {
    color: $primary-color;
  }
  .btn-connexion:hover{
    border: $primary-color solid 2px;
  }
}

.btn-connexion:hover {
  border: $primary-color solid 2px;
}

.btn-inscription {
  border-radius: 3em;
  width: 8%;
  height: 4%;
  margin-top: 1%;
  text-align: center;

  a {
    color: $quaternary-color;
    font-family: $typography;
    font-size: 0.8em;
    font-weight: bold;
  }

  a:hover {
    color: $primary-color;

  }
  .btn-inscription:hover{
    border: $primary-color solid 2px;
  }
}

.btn-inscription:hover {
  border: $primary-color solid 2px;
}

.sign-in, .sign-up {
  width: 60%;
  height: 60%;
  margin: 5% auto;
  border: $primary-color solid 4px;
  border-radius: 3em;

  h1 {
    color: $quaternary-color;
    font-family: $typography;
    text-align: center;
    margin-bottom: -5%;
  }

}

.input-sign-in {
  display: flex;
  flex-direction: column;
  margin: 15% auto;

  label {
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  input {
    padding-top: 2%;
    margin: 0 auto;
  }

  .mail {
    background-color: $quaternary-color;
    border: $primary-color solid 1px;
    width: 60%;
    margin: 0 auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  .password {
    background-color: $quaternary-color;
    border: $primary-color solid 1px;
    width: 60%;
    margin: 3% auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  button {
    width: 12%;
    margin: 4% auto;
    border: $primary-color solid 5px;
    background-color: $quaternary-color;
    font-size: 1.2em;
    color: $quaternary-color;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $typography;
    font-weight: bold;
    border-radius: 2em;

  }
}


.input-sign-up {
  display: flex;
  flex-direction: column;
  margin: 15% auto;

  div {
    margin: 0 auto;
    width: 60%;
  }

  label {
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  input {
    padding-top: 4%;
    margin: 0 auto;
  }

  .email {
    background-color: $quaternary-color;
    border: $primary-color solid 1px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  .password {
    background-color: $quaternary-color;
    border: $primary-color solid 1px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  .password-check {
    background-color: $quaternary-color;
    border: $primary-color solid 1px;
    width: 100%;
    margin: 3% auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  button {
    width: 12%;
    margin: 10% 44%;
    border: $primary-color solid 5px;
    background-color: $quaternary-color;
    font-size: 1.2em;
    color: $quaternary-color;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $typography;
    font-weight: bold;
    border-radius: 2em;

  }
}

.payments-column {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 3% auto;

  .payments-row {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;

    div {
      width: 30%;
      margin: 0 auto;
    }

    img {
      width: 50%;
      margin: 0 auto;
    }
  }
}

.full-page-detail {
  display: flex;
  flex-direction: row;
}

.store-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 4% auto;

  h2 {
    color: $quaternary-color;
    font-size: 2.3em;
    font-family: $typography;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $primary-color;

  }

  h3 {
    color: $quaternary-color;
    font-size: 1.4em;
    font-family: $typography;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $primary-color;
  }

  p {
    color: $quaternary-color;
    font-size: 1.2em;
    font-family: $typography;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: $primary-color;
  }
}

.card-detail-column {
  display: flex;
  border: solid $primary-color 2px;
  border-radius: 1em;
  flex-direction: column;
  width: 50%;
  margin: 3% auto;
  height: 100%;

  .card-detail-row {
    display: flex;
    width: 100%;
    flex-direction: row;

    img {
      width: 100%;
      border-radius: 1em;
    }
  }
}

.alert {
  background-color: $primary-color;
  border: solid $primary-color 2px;
  border-radius: 2em;
  width: 30%;
  color: $quaternary-color;
  font-family: $typography;
  font-size: 2em;
  text-align: center;
  margin: 3% auto;
}


.adress-maps {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: 0 auto;

  .map {
    color: $primary-color;
    font-size: 3em;
    margin: 20% auto;
  }
}

.title-profile {
  color: $quaternary-color;
  font-family: $typography;
  font-size: 1.5em;
  text-align: center;
  margin-top: 3%;

}

.title-stores-profile {
  border: $quaternary-color solid 2px;
  border-radius: 3em;
  width: 25%;
  margin: 3% auto;

  h2 {
    color: $quaternary-color;
    font-family: $typography;
    font-size: 1.2em;
    text-align: center;
  }
}

.stores-profile {
  border: $quaternary-color solid 3px;
  width: 90%;
  border-radius: 1.2em;
  margin: 0 auto;

  p {
    color: $quaternary-color;
    font-family: $typography;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30%;
  }

  h1 {
    color: $quaternary-color;
    font-family: $typography;
    text-align: center;
    font-size: 1.2em;
  }
}

.cart-store {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 3% auto;
  border: $primary-color solid 2px;
  border-radius: 2em;

  .cart-store-img {
    width: 30%;

    img {
      width: 40%;
      height: auto;
      border-radius: 2em;
      margin: 3%;
    }
  }

  .cart-store-name, .cart-store-price, .delete-store-div {
    margin-top: 4%;
  }

  h2 {
    color: $primary-color;
    font-family: $typography;
    margin-top: 3%;
  }

  h3 {
    color: $primary-color;
    font-family: $typography;
    margin-top: 3%;
    font-size: 1.8em;
  }

  .delete-store {
    font-size: 3em;
    color: $primary-color;
  }
}


.flash-notice {
  color: $quaternary-color;
  font-size: 2em;
  width: 100%;
  font-weight: bold;
  margin: 5% auto 0 auto;
  padding-bottom: -20%;
  p{
    text-align: center;
    font-size: 80%;
  }
}

.blank-favorite {
  color: $primary-color;
  font-size: 2.4em;
}

.days, .schedule {
  padding-bottom: 30%;
}

.favorite-direction {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  height: 60%;
}

.direction {
  color: $primary-color;
  font-size: 2.4em;
  margin-top: 60%;
}

.adress-detail-store {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin-left: 15%;
}


@import "media-queries";
