@media screen and (max-width: 1400px) and (min-width: 1100px) {
 /************ ALL STORES PAGE ***************/

  .column-stores .row-stores .card-store {
    width: 33%;
    height: 85vh;

    h2 {
      font-size: 1.1em;
    }

    h3 {
      font-size: 0.9em;
    }

    img {
      height: 50%;
    }
  }

  .direction, .blank-favorite {
    font-size: 2.2em;
  }
  .favorite-direction {
    margin-top: 4%;
  }

  .burger {
    display: block;
  }

  body {
    overflow-x: hidden;
  }
  .row-stores {
    width: 50%;
  }
  .navigation-links {
    position: absolute;
    left: 0px;
    height: 150vh;
    background-color: $secondary-color;
    width: 20%;
    border-radius: 1.2em;
    border: $primary-color solid 3px;
    margin-top: 4%;
    z-index: 3;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in;

    .nav-links {
      height: 40%;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      display: flex;
      width: 60%;

      div {
        margin-top: 35%;
      }
    }

  }

  /************ ALL STORES PAGE ***************/

}

@media screen and (max-width: 1600px) and (min-width: 1400px) {

  /************ ALL STORES PAGE ***************/

  .column-stores .row-stores .card-store {
    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: 0.8em;
    }
  }
  .direction, .blank-favorite {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 1150px) and (min-width: 800px) {
  .heart{
    margin-top: 0;
  }
  .btn-connexion{
    width: 15%;
  }
  .btn-inscription{
    width: 10%;
  }
  .column-stores .row-stores .card-store {
    width: 37%;
    height: 82vh;

    h2 {
      font-size: 1.1em;
    }

    h3 {
      font-size: 0.9em;
    }

    img {
      height: 50%;
    }
  }

  .direction, .blank-favorite {
    font-size: 2.2em;
  }
  .favorite-direction {
    margin-top: 4%;
  }
  .burger {
    display: block;
  }

  body {
    overflow-x: hidden;
  }
  .row-stores {
    width: 50%;
  }
  .navigation-links {
    position: absolute;
    left: 0px;
    height: 150vh;
    background-color: $secondary-color;
    width: 20%;
    border-radius: 1.2em;
    border: $primary-color solid 3px;
    margin-top: 4.5%;
    z-index: 3;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in;

    .nav-links {
      height: 40%;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      display: flex;
      width: 60%;

      div {
        margin-top: 35%;
      }
    }

  }

  /************ ALL STORES PAGE ***************/

}

@media screen and (max-width: 800px) and (min-width: 200px) {

  /************ ALL STORES PAGE ***************/

  .heart{
    font-size: 2.3em;
  }
  .btn-connexion{
    width: 20%;
  }
  .btn-inscription{
    display: none;
  }
  .btn-inscription-burger-menu{
    display: block;
  }
  .column-stores .row-stores .card-store {
    width: 65%;
    height: 80vh;
    h2 {
      font-size: 1.1em;
    }

    h3 {
      font-size: 0.9em;
    }

    img {
      height: 50%;
    }
  }

  .direction, .blank-favorite {
    font-size: 2.2em;
  }
  .favorite-direction {
    margin-top: 4%;
  }
  .burger {
    display: block;
  }

  body {
    overflow-x: hidden;
  }
  .row-stores {
    width: 50%;
  }
  .navigation-links {
    position: absolute;
    left: 0px;
    height: 150vh;
    background-color: $secondary-color;
    width: 25%;
    border-radius: 1.2em;
    border: $primary-color solid 3px;
    margin-top: 7%;
    z-index: 3;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in;

    .nav-links {
      height: 40%;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      display: flex;
      width: 100%;

      div {
        margin-top: 35%;
      }
    }

  }

  /************ ALL STORES PAGE ***************/

}

@media screen and (max-width: 600px) and (min-width: 400px){

  /************ ALL STORES PAGE ***************/


  .burger{
    margin-top: 1%;
  }
  .heart{
    font-size: 2.2em;
  }
  .btn-connexion{
    width: 25%;
  }
  .btn-inscription{
    display: none;
  }
  .btn-inscription-burger-menu{
    display: block;
  }
  .column-stores .row-stores .card-store {
    width: 78%;
    height: 80vh;
    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: 0.8em;
    }

    img {
      height: 50%;
    }
  }

  .direction, .blank-favorite {
    font-size: 2.2em;
  }
  .favorite-direction {
    margin-top: 4%;
  }
  .burger {
    display: block;
  }

  body {
    overflow-x: hidden;
  }
  .row-stores {
    width: 50%;
  }
  .navigation-links {
    position: absolute;
    left: 0px;
    height: 120vh;
    background-color: $secondary-color;
    width: 35%;
    border-radius: 1.2em;
    border: $primary-color solid 3px;
    margin-top: 9%;
    z-index: 3;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in;

    .nav-links {
      height: 40%;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      display: flex;
      width: 100%;

      div {
        margin-top: 35%;
      }
    }

  }

  /************ ALL STORES PAGE ***************/

}

@media screen and (max-width: 400px){

  /************ ALL STORES PAGE ***************/

  .burger{
    margin-top: 1%;
  }
  .heart{
    font-size: 1.9em;
  }
  .btn-connexion{
    width: 35%;
    margin-top: 2%;
  a{
    font-size: 1em;
  }
  }
  .btn-inscription{
    display: none;
  }
  .btn-inscription-burger-menu{
    display: block;
  }
  .column-stores .row-stores .card-store {
    width: 87%;
    height: 65vh;
    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: 0.8em;
    }

    img {
      height: 50%;
    }
  }

  .direction, .blank-favorite {
    font-size: 2.2em;
  }
  .favorite-direction {
    margin-top: 4%;
  }
  .burger {
    display: block;
  }

  body {
    overflow-x: hidden;
  }
  .row-stores {
    width: 50%;
  }
  .navigation-links {
    position: absolute;
    left: 0px;
    height: 80vh;
    background-color: $secondary-color;
    width: 46%;
    border-radius: 1.2em;
    border: $primary-color solid 3px;
    margin-top: 11%;
    z-index: 3;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in;

    .nav-links {
      height: 40%;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      display: flex;
      width: 100%;

      div {
        margin-top: 35%;
      }
    }

  }

  /************ ALL STORES PAGE ***************/
  
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.nav-active {
  transform: translateX(0%);
}
