@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap);

$primary-color:	#E7C069;
$secondary-color: white;
$tertiary-color: #E3474B;
$quaternary-color: #232F3E;
$typography:'Montserrat', sans-serif;